body {
  margin: 0;

  font-family: "Moderat Medium";
}

/* fondo video */
.video_contain {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    min-width: 240vh;
    height: auto;
}

/* barra de navegación */
.nav {
  position: absolute;
	padding-left: 2%;
	top: 0;
  width: 100%;
	display: flex;
}

.nav .link {
  color: white;
  margin: 4% 1%;
}
