html { overflow:auto; }

body {
  margin: 0;

  font-family: "Moderat Medium";
}

/* fondo video */
.video_contain {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;

	overflow: hidden;
  justify-content: center;
  align-items: center;
}

video {
    width: 100%;
}

/* barra de navegación */
.nav {
  font-size: 2em;
  position: absolute;
	top: 0;
  width: 100%;
	display: flex;
}

.nav .link {
  color: white;
  margin: 4% 1%;
}

.nav .link:nth-child(1) {
	padding-left: 2%;
}
